<html>
<head>
  <title>Play Chess!</title>
</head>

<link rel="stylesheet" href="/sinatra.css">

<h1 align="center">Play Chess!</h1>

<div align="center">

  <% if @board %>
    <%= erb :'_game_board' %>
    <%= erb :'_check_status' %>
    <%= erb :'_move_maker' %>
  <% end %>

  <%= erb :'_new_game' %>

</div>

</html>
