<html>
<head>
  <title>Play Chess!</title>
</head>

<link rel="stylesheet" href="/sinatra.css">

<h1 align="center">Play Chess!</h1>

<div align="center">
  <%= erb :'_game_board' %>

  <form method="POST" action="/game">
    Make your move:
    <input type="text" name="initial_position">
    <input type="text" name="new_position">
    <input type="submit" class="button" value="Move!">
  </form>


</div>

</html>
