h1 {
  font-size: 62;
  font-family: Verdana, sans-serif;
}

th, td {
  font-size: 36;
  font-family: Verdana, sans-serif;
  text-align: center;
  align: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
}

td:hover {
  border: 2px solid black;
}

.selected {
  border: 2px solid orange;
}

form {
  position: relative;
  top: 18px;
}

input {
  width: 40px;
}

input[type=submit] {
  width: auto
}

.button {
  color: black;
  background: #EEEEEE;

  border: 2px solid #CCCCCC;
  border-radius: 5px;

  padding: 4px 10px;

  text-decoration: none;
}

.button:hover, .button-link:focus {
  background: #AAAAAA;
  border: 2px solid black;
}

.caution-blurb {
  color: #A88A25;
  background: #FDE287;

  border: 3px solid #A88A25;
  border-radius: 10px;
  padding: 10px 10px;

  font-size: 18px;

  display: inline-block;
}

.alert-blurb {
  color: #611919;
  background: #E28B8B;

  border: 3px solid #611919;
  border-radius: 10px;
  padding: 10px 10px;

  font-size: 18px;

  display: inline-block;
}

.new-game {
  position: relative;
  top: 50px;
}
