h1 {
  font-size: 62;
}

th, td {
  font-size: 36;
  align: center;
  width: 40px;
}

input {
  width: 40px;
}

input[type=submit] {
  width: 90px;
}

.button {
  color: black;
  background: #EEEEEE;

  border: 2px solid #CCCCCC;
  border-radius: 5px;

  padding: 4px 10px;

  text-decoration: none;
}

.button:hover, .button-link:focus {
  background: #AAAAAA;
  border: 2px solid black;
}
